Node Red/flows.json
[
    {
        "id": "7b2de3581d62f6a7",
        "type": "tab",
        "label": "IOT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "852b20ae29cb2ed1",
        "type": "tab",
        "label": "HTTP Request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1561755742dc746b",
        "type": "tab",
        "label": "Gringo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8dabf94862d5b9bd",
        "type": "cloudantplus",
        "host": "https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Victor",
        "useapikey": true
    },
    {
        "id": "dc1def4575968b62",
        "type": "cloudantplus",
        "host": "https://apikey-v2-35ucaoutk0vp50qqbwmtf35ohx2p8jnobg93n67nrakn:11a355f5ca289c184bb59bf9c7d633d2@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    },
    {
        "id": "0f10678d7a38fef9",
        "type": "ibmiot",
        "name": "Victor",
        "keepalive": "60",
        "serverName": "s6o08l.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "83d2f78d22d1933f",
        "type": "ibmiot",
        "name": "Renato",
        "keepalive": "60",
        "serverName": "femusb.messaging.internetofthings.ibmcloud.com/",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "0c6a3b7311a0050a",
        "type": "ibmiot in",
        "z": "7b2de3581d62f6a7",
        "authentication": "apiKey",
        "apiKey": "0f10678d7a38fef9",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "Pulsando",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "595de0f7d70eca70"
            ]
        ]
    },
    {
        "id": "5ba15ded4e7cb506",
        "type": "debug",
        "z": "7b2de3581d62f6a7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "c9b79089e0b175e6",
        "type": "cloudantplus out",
        "z": "7b2de3581d62f6a7",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "5ba15ded4e7cb506"
            ]
        ]
    },
    {
        "id": "595de0f7d70eca70",
        "type": "split",
        "z": "7b2de3581d62f6a7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "956192fcd34f46b0"
            ]
        ]
    },
    {
        "id": "956192fcd34f46b0",
        "type": "delay",
        "z": "7b2de3581d62f6a7",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "c9b79089e0b175e6"
            ]
        ]
    },
    {
        "id": "2b8675488953a41b",
        "type": "http in",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "url": "/get",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "c8228be7e11ce4da"
            ]
        ]
    },
    {
        "id": "6edc05d896c29977",
        "type": "http response",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "61cfaac6c2211e38",
        "type": "debug",
        "z": "852b20ae29cb2ed1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "d238950323ea4c45",
        "type": "http in",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "url": "/post",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "96bba0c0d095be01"
            ]
        ]
    },
    {
        "id": "bdc62de31ef9512e",
        "type": "http response",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f1a10298391e729",
        "type": "debug",
        "z": "852b20ae29cb2ed1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "96bba0c0d095be01",
        "type": "cloudantplus out",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "bdc62de31ef9512e",
                "0f1a10298391e729"
            ]
        ]
    },
    {
        "id": "f2d99206437cc872",
        "type": "http in",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "url": "/put",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "c06934b2721c5826"
            ]
        ]
    },
    {
        "id": "751aad75d99fb513",
        "type": "http response",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "5b24ac642d45f81b",
        "type": "debug",
        "z": "852b20ae29cb2ed1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "c06934b2721c5826",
        "type": "cloudantplus out",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "751aad75d99fb513",
                "5b24ac642d45f81b"
            ]
        ]
    },
    {
        "id": "3045c6c4aa4df2f4",
        "type": "http in",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "url": "/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "b0cc350463c528bc"
            ]
        ]
    },
    {
        "id": "cdcc5ac66b84e261",
        "type": "http response",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "ce5e347f1df2c7ca",
        "type": "debug",
        "z": "852b20ae29cb2ed1",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "b0cc350463c528bc",
        "type": "cloudantplus out",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "cdcc5ac66b84e261",
                "ce5e347f1df2c7ca"
            ]
        ]
    },
    {
        "id": "c8228be7e11ce4da",
        "type": "cloudantplus in",
        "z": "852b20ae29cb2ed1",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "6edc05d896c29977",
                "61cfaac6c2211e38"
            ]
        ]
    },
    {
        "id": "d8a477701226d8c6",
        "type": "watson-text-to-speech",
        "z": "1561755742dc746b",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "yMPkUZ2kKZj7SA_CD9eVLW54iBbUBUbjK9RMOa_tzIOK",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/37eebb6e-de5f-429b-9ffd-efb520bb3843",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "a708c3db5d331eee"
            ]
        ]
    },
    {
        "id": "a708c3db5d331eee",
        "type": "play audio",
        "z": "1561755742dc746b",
        "name": "",
        "voice": "74",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "72cef59b520158fb",
        "type": "microphone",
        "z": "1561755742dc746b",
        "name": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "d4c4904a2a44f28a"
            ]
        ]
    },
    {
        "id": "507465323ce228d7",
        "type": "inject",
        "z": "1561755742dc746b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Cuidado😓com😨link:😌\"fotos😶bolsonaro💪pelado😞\"ele😅troca😙espaço😒por😪emoji😞é😰vírus😝denada😎por😃ter🙏te😉avisado😐De🤭fato😎um🌞vírus💸estranho🔫mas🙁tem🐟que👍ser🥵meio🤝burro🔁pra❤️cair🐧nisso",
        "payloadType": "str",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "d8a477701226d8c6"
            ]
        ]
    },
    {
        "id": "d4c4904a2a44f28a",
        "type": "watson-speech-to-text",
        "z": "1561755742dc746b",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "TPNUU3k_YzlK3D5p9VuoASak1IUnjnZc_IbjM_jF6ZlE",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/6b757721-f5ce-47dc-9d32-0fd72a87f52b",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "a56efdefdc487d7a"
            ]
        ]
    },
    {
        "id": "9a00f79326e93ef5",
        "type": "debug",
        "z": "1561755742dc746b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f90a30b211971c3",
        "type": "watson-translator",
        "z": "1561755742dc746b",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "ZzQ130YP4mRi1tF5RAGulVX9hpbyZv8lB39j9mouixLu",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/4e65042f-eaa8-4522-a9a8-120c2f41a7e8",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "4515b07d74464541"
            ]
        ]
    },
    {
        "id": "73ca405c1f42806c",
        "type": "microphone",
        "z": "1561755742dc746b",
        "name": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "f73874464d80a483"
            ]
        ]
    },
    {
        "id": "91f6fed7561ccb65",
        "type": "debug",
        "z": "1561755742dc746b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "f73874464d80a483",
        "type": "watson-speech-to-text",
        "z": "1561755742dc746b",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "TPNUU3k_YzlK3D5p9VuoASak1IUnjnZc_IbjM_jF6ZlE",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/6b757721-f5ce-47dc-9d32-0fd72a87f52b",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "1f90a30b211971c3"
            ]
        ]
    },
    {
        "id": "4515b07d74464541",
        "type": "watson-translator",
        "z": "1561755742dc746b",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "apikey": "ZzQ130YP4mRi1tF5RAGulVX9hpbyZv8lB39j9mouixLu",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/4e65042f-eaa8-4522-a9a8-120c2f41a7e8",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "91f6fed7561ccb65",
                "3b514182fb5e200d"
            ]
        ]
    },
    {
        "id": "a56efdefdc487d7a",
        "type": "cloudantplus out",
        "z": "1561755742dc746b",
        "name": "",
        "cloudant": "8dabf94862d5b9bd",
        "database": "pato",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "9a00f79326e93ef5"
            ]
        ]
    },
    {
        "id": "3b514182fb5e200d",
        "type": "watson-text-to-speech",
        "z": "1561755742dc746b",
        "name": "",
        "lang": "es-LA",
        "langhidden": "es-LA",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-LA_SofiaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "yMPkUZ2kKZj7SA_CD9eVLW54iBbUBUbjK9RMOa_tzIOK",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/37eebb6e-de5f-429b-9ffd-efb520bb3843",
        "x": 960,
        "y": 320,
        "wires": [
            [
                "5d59253d99284b37"
            ]
        ]
    },
    {
        "id": "5d59253d99284b37",
        "type": "play audio",
        "z": "1561755742dc746b",
        "name": "",
        "voice": "81",
        "x": 1150,
        "y": 320,
        "wires": []
    }
]